.body {
    margin: 0px;
    padding: 0px;
}

.h-2 {
    font-weight: 700;
    padding: 2rem;
    display: inline;
}

.counter {
    margin-top: 5rem;
    text-align: center;
}

.buttons {
    margin-top: 2rem;
}

.button-1 {
    margin-right: 1rem;
}